.ant-carousel .slick-slide {
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
}

.container {
  padding: 50px 80px;
  text-align: center;
}

.container h1 {
  font-size: 60px;
}

.container p {
  margin-bottom: 30px;
  font-size: 20px;
}
