.App {
  text-align: center;
}



/* The navigation bar */
.navbar {
  
  background-color: lightblue;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.butt {
  
  background-color: lightblue;
  position: fixed; /* Set the navbar to fixed position */
  top: 96px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkred;
  color: white;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  align-items: center;
  justify-content: center;
margin-top: 8px;
}